# .gitlab-ci.yml
image: node:20

cache:
  paths:
    - node_modules/

pages:
  script:
    - npm ci
    - npm run build
    # instead of mkdir, just clean & copy
    - rm -rf public
    - mv dist public
  artifacts:
    paths:
      - public
  only:
    - main
