/* From Uiverse.io by xopc333 */
.button {
    display: block;
    position: relative;
    width: 3.5rem;   /* 56px */
    height: 3.5rem;  /* 56px */
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.button:before,
.button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0.4375rem; /* 7px */
}

.button:before {
    border: 0.25rem solid #f0eeef; /* 4px */
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
    border: 0.25rem solid #96daf0; /* 4px */
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.button:hover:before,
.button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.button-elem {
    display: block;
    width: 1.25rem;   /* 20px */
    height: 1.25rem;  /* 20px */
    margin: 1.0625rem 1.125rem 0 1.125rem; /* 17px 18px 0 18px */
    transform: rotate(180deg);
    fill: #f0eeef;
}

.button:hover .button-box,
.button:focus .button-box {
    transition: 0.4s;
    transform: translateX(-3.5rem); /* -56px */
}

/* Position the back button bottom-left */
.button {
    bottom: calc(env(safe-area-inset-bottom, 0px) + 1rem);
    left: calc(env(safe-area-inset-left, 0px) + 1rem);
}
