/* src/css/NumberInput.css */






.custom-number-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-left: 0.3rem;
}

.custom-number-input {
    width: clamp(3rem, 8vw, 5rem); ;
    height: clamp(3rem, 8vh, 4.5rem);
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bold;

    text-align: center;
    border-radius: 0.75rem;
    border: 0.2rem solid #0aa4f8;
    background: #111;
    color: #fff;

    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;

    transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-number-input:focus {
    border-color: #00ffcc;
    box-shadow: 0 0 0.75rem rgba(0, 255, 204, 0.6);
    outline: none;
}

.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Increment/Decrement buttons */
.num-btn {
    background: #0aa4f8;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: bold;
    width: clamp(2rem, 10vw, 3rem);
    height: clamp(2.5rem, 7vh, 4rem);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.num-btn:hover {
    background: #00ffcc;
}

.num-btn:active {
    transform: scale(0.9);
}



